:root {
    font-family: sans-serif;
}

nav {
    text-align: right;
}

.ancora {
    padding: 10px 20px;
}

.h1 {
    font-weight: 700;
    font-size: 89px;
    line-height: 79px;
    color: #FFB300;
}

.content-img {
    text-align: center;
}

.image {
    padding-top: 34px;
    width: 883px;
    height: 374px;
}

.author {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: right;
}

.h3 {
    font-size: 21px;
    font-weight: 800;
    color: #000000;
    text-align: center;
}

.paragraph {
    font-size: 21px;
    font-weight: 500;
    Line-height: 1.61;
    Color: #000000;
    text-align: center;
    padding-bottom: 34px;
}

.iframe {
    text-align: center;
    padding: 34px;
}

.iframe iframe {
    width: 883px;
    height: 497px;
}

.h2 {
    font-size: 34px;
    Color: #FFB300;
    Font-Weight: Bold;
    padding-top: 34px;
}

.container ul {
    font-size: 21px;
    font-weight: 500;
    Line-height: 21px * 1.61;
}

.container ol {
    font-size: 21px;
    font-weight: 500;
    Line-height: 21px * 1.61;
}

.container a {
    font-size: 21px;
    font-weight: 800;
    Color: #0037B3;
}

.rodape {
    text-align: center;
    padding-top: 34px;
}