:root {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #e4ea85;
}

.cabecalho {
    padding: 10px 10px;
    background-color: #f0c562;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.nav_barName {
    font-size: 30px;
    font-weight: 900;
    margin: 0px 4px;
}

.navigation {
    padding: 10px 0px;
}

.navigation_items {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    margin: 0px 4px;
    color: #000000;
    background-color: #ea9122;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #000000;
}

.navigation_items:hover {
    background-color: #e4792e;
    transform: scale(1.1);
}

.imagem {
    width: 883px;
    height: 374px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 4px #f0c562 solid;
    box-shadow: 3px 3px 2px #000000;
}

.titulo_primario {
    font-weight: 900;
    font-size: 89px;
    Line-Height: 79px;
    Color: #FFB300;
    text-align: center;
    margin: 50px;
}

.titulo_secundario {
    font-size: 34px;
    Color: #FFB300;
    Font-Weight: 700;
    margin: 30px;
}

.titulo_terciario {
    text-align: center;
    margin: 50px;
    Color: #000000;
    font-size: 21px;
    font-weight: 900;
}

.author {
    text-align: right;
    margin: 50px;
    Color: #000000;
    font-size: 21px;
    font-weight: 700;
}

.paragraph {
    text-align: left;
    font-size: 21px;
    font-weight: 600;
    Line-height: 1.61;
    Color: #000000;
    margin: 20px;
}

.divisao {
    height: 2px;
    margin: 34px;
    background-color: gray;
}

.video {
    display: flex;
    justify-content: center;
}

.video .iframe {
    width: 883px;
    height: 497px;
}

.list {
    font-size: 21px;
    font-weight: 600;
    Line-height: 21px * 1.61;
}

.list_items {
    margin: 30px;
}

.ancora {
    color: #00ff;
    font-weight: 700;
    font-size: 20px;
    margin-left: 30px;
}

.rodape {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0c562;
    border-radius: 4px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}