:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: #e4ea85;
}

.header {
    background-color: #f0c562;
}

.header .header__content {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav__list {
    display: flex;
}

.nav__list .nav__items {
    padding: 10px;
    margin: 0 5px;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 2px 2px 3px;
    text-transform: uppercase;
    background-color: #ea9122;
}

.nav__list .nav__items:hover {
    background-color: #e4792e;
}

.image__section {
    padding: 34px 0;
}

.image__section img {
    width: 883px;
    height: 374px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    border: 4px #f0c562 solid;
}

.image__section .main__title {
    margin: 34px 0;
    font-size: 89px;
    font-weight: 900;
    Color: #FFB300;
    Line-Height: 79px;
    text-align: center;
}

.tertiary__title {
    font-size: 21px;
    font-weight: 700;
    Color: #000000;
    text-align: center;
    margin-bottom: 34px;
}

.author__name {
    text-align: end;
}

.paragraphs {
    font-size: 21px;
    font-weight: 600;
    Line-height: 1.6;
    Color: #000000;
}

.iframe {
    width: 883px;
    height: 497px;
    display: block;
    margin: 0 auto;
}

.secondary__title {
    font-size: 34px;
    Color: #FFB300;
    Font-Weight: 700;
}

.list__items {
    margin: 34px 0;
    font-size: 21px;
    font-weight: 600;
    Line-height: 1.61;
}

.division {
    margin: 34px 0;
}

.back__top {
    font-size: 21px;
    font-weight: 700;
    Color: #0037B3;
    text-transform: uppercase;
}

.footer {
    padding: 30px;
    margin-top: 34px;
    background-color: #f0c562;
}

.footer .footer__content {
    font-size: 25px;
    text-align: center;
}